/* .nav {
    display: flex;
    justify-content: space-between;
}

.navlist a {
    text-decoration: none;
    margin-left: 15px
}

.nav h1 {
    color: blueviolet;
    margin: 0;
    padding: 0;
}

.nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {

    padding-left: 15px;
}

.nav li a {
    text-decoration: none;
    color: blueviolet;
}

.nav .nav-search input {
    flex: 1;
    border: 1px solid blueviolet;
    height: 35px;
}

.nav .nav-search button {
    flex: 1;
    border: 1px solid blueviolet;
    height: 39px;
}
 */

.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  margin-top: 10px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  width: 220px;
}

.content {
  margin: 20px;
}

.fixed-button-container {
  position: fixed;
  top: 50%;
  z-index: 999;
}

.fixed-button-container button {
  color:white;
  background-color: grey;
  border: none;
  padding: 10px;
  font-size: 18px;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.2);
}

nav a {
  padding: 1rem;
  text-decoration: none;
  display: block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  height: 30px;
  /* border: 1px solid rgb(173, 162, 162); */
}

nav a:hover {
  color: white;
  background-color: #42545C;
}
.listItems  {
  
}
nav a.active {
  background-color: black;
}

.mainFrame {
  margin: 20px;
}

.searchBar {
  margin-left: 150px;
  /* margin: auto; */
  margin-top: 10px;
  padding: auto;
  position: relative;
  /* align-items: center;
  text-align: center; */
}

.e-comm-logo{
  height: 100px;
  width:210px;
}
.suggestedResult{
  position: absolute;
  display: list-item;
  z-index: 1; 
  left: 35%;
  min-width: 270px;
  top: 75%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(238, 236, 236);
}
.suggestedResult mat-list-item{
  cursor: pointer;
}
a{
  cursor: pointer;
}
.footer{
  padding: 10px;
  text-align: center;
  position:relative;
  bottom: 0;
  right: 0;
  left: 0;
   margin-top: auto;  
}
.footer a{
  margin-left: 5px;
}

