<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div [ngSwitch]="menuType">
            <div *ngSwitchCase="'default'">
                <nav>
                    <a routerLink="">Home</a>
                </nav>
                <nav>
                    <a routerLink="/user-auth/auth">Login</a>
                </nav>
            </div>
            <div *ngSwitchCase="'user'">
                <nav>
                    <a routerLink="">Home</a>
                </nav>
                <nav>
                    <a routerLink="/user/user-home">User Home</a>
                </nav>
                <nav>
                    <a>Cart</a>
                </nav>
                <nav>
                    <a (click)="openDeleteDialog()">Logout</a>
                </nav>
                <nav>
                    <a>{{userName | titlecase}}</a>
                </nav>
            </div>
            <div *ngSwitchCase="'seller'">
                <nav>
                    <a routerLink="">Home</a>
                </nav>
                <nav>
                    <a routerLink="seller/seller-home">Product List</a>
                </nav>
                <nav>
                    <a (click)="openDeleteDialog()">Logout</a>
                </nav>
                <nav>
                    <a>{{userName | titlecase}} (SELLER)</a>
                </nav>
            </div>
            <div *ngSwitchCase="'admin'">
                <nav>
                    <a routerLink="">Home</a>
                </nav>
                <nav>
                    <a routerLink="admin/admin-home">Admin Home</a>
                </nav>    
                <nav>
                    <a (click)="openDeleteDialog()">Logout</a>
                </nav>
                <nav>
                    <a>{{userName | titlecase}} (ADMIN)</a>
                </nav>
            </div>
        </div>
    </mat-drawer>

    <div class=" mainFrame">

        <div *ngIf="menuType==='default'" class="searchBar">             
            <mat-form-field class="searchBar" appearance="fill">
                <input #searchInput (keyup)="serchProduct($event)" matInput type="text" placeholder="Search for products"  (focus)="showList()" (blur)="hideList()">              
                <mat-list *ngIf="showResults" class="suggestedResult"  role="list">
                    <mat-list-item  let *ngFor="let item of searchProducts" role="listitem">{{item.name}}</mat-list-item>                  
                  </mat-list>
                <button (click)="submitSearch(searchInput.value)" mat-button matSuffix>
                    <mat-icon>search</mat-icon> 
                </button>
            </mat-form-field>
        </div>

        <div class="fixed-button-container">
            <button type="button" mat-button (click)="toggleDrawer()">
                <ng-container *ngIf="isDrawerOpen; else drawerClosed">
                    << </ng-container>
                        <ng-template #drawerClosed>
                            >>
                        </ng-template>
            </button>
        </div>
    </div>
    <router-outlet></router-outlet>
</mat-drawer-container>