.edit-form {
    margin: 0%;
  }
  
  .form-row {
    display: flex;
    justify-content:space-between;
  }
  
  .form-field {
    flex: 1;
    margin-left: 10px;
  }
  
  .button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  .save-button {
    background-color: #007bff;
    color: #fff;
  }
  
  .cancel-button {
    background-color: #ccc;
    color: #000;
  }
  .description{
 
    display: block;
  }

  .scrollable-table {
    max-height: 300px; 
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 10px; 

    &::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 10px;
    }
    
    &:hover::-webkit-scrollbar-thumb {
      background-color: #555;
    }
  }
  
  .slickDiv{
    width: 200px;display: flex;
    justify-content: center;   align-items: center;
    margin: auto;
    float: rigth;
  }

