.content {
    margin: 20px;
    text-align: center;
}

.tile {
    /* border-bottom: 1px solid grey; */
}

.imgDiv {
    margin-right: 20px;
}
.smalldevices{
    display: none;
}
.carousell {
    display: flex;
    margin-right: 20px;
}

.cart-items-container {
    max-height: 500px;
    overflow-y: auto;
}
.scrollable-table {
    max-height: 500px;
    overflow-y: auto;
}
.scrollable-table::-webkit-scrollbar {
    width: 12px;
}


.scrollable-table::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}
.o-unset {
    overflow: unset !important;
}

.data div {
    margin-left: 10px;
    text-align: left;
}

.slick-carousel {
    width: 300px;
    height: auto;
}

.sticky-summery {
    position: sticky;
    top: 0;
    padding: 16px;
    background-color: white;
}

img {
    width: 300px;
    height: 250px;
    overflow: clip;
}

.summery {
    margin: auto;    
    height: 99%;
    width: 90%;
    text-decoration: none;
    text-align: center;
}

.summery ul {
    display: inline-block;
    list-style-type: none;
}

.summery li {
    padding: 5px;
    font-size: medium;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.mobDiv{
    display: flex;
    justify-content: center;
}
.tile2 {
    display: none;
}
.mobDiv1{
    text-align: center;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .mat-grid-tile {
        width: 100% !important;
    }

    .summery,
    .tile {
        width: 100%;
    }

    .imgDiv {
        flex-direction: column;
    }
    .smalldevices{
        display: block;
        /* border: 1px solid black; */
    }
    .bigdevices{
        display: none;
    }
    .carousell {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .tile {
        display: none;
    }

    .tile2 {
        display: block
    }

    .summery {
        margin-top: 0%; 
        margin-left: -15px;
    }
    .productItems{
        border-bottom:2px solid grey ;
        padding:10px;
    }
}