.content {
    margin: 20px;
}

.card {
    padding: 20px;
    width: 70%;
    margin: auto;
}

.carousel {
    height: 300px;
    width: 350px;
}

.Quantitiy {
    display: flex;
}
.float-left-tile .custom-content {
    float: left;
    margin-right: 10px; /* Optional: Add some margin for spacing */
  }
.custom-content{
    /* display: flex !important;
    align-items: center !important;
    justify-content: start !important; */
}

.gridtile {
    display: flex;
}

.carousel {
    width: 80%;
    padding: 0;
    margin: 0 auto;
}

.actn {
    display: block;
    margin: 0px;
    padding: 20px;
}

.inputBar {
    width: 30px;
    border: none;
    height: 30px;
}

.quantity {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.buttons {
    margin-top: 20px;
    width: 200px;
    display: flex;
}

div[ngxSlickItem] img {
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 576px) {
    .card {
        width: 100%;
        margin: auto;
    }

    mat-grid-list {
        height: 300px;
    }
}