.authPage{
    margin: 10px;
    margin: auto;
    align-items: center;
    margin-top: 10%;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-left: 10px;
}