.content{
    margin: auto;

    padding: 10px;
    width: 70%;

}
.table{
    margin-top: 15px;
}

.scrollable-table {
    max-height: 450px;
    overflow-y: auto;
}
.scrollable-table::-webkit-scrollbar {
    width: 12px;
}


.scrollable-table::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

.prodTable{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cardFilter button {
    margin: 5px;
    float: right;
}

.chart-container{
    height: 300px;
}

@media screen and (max-width: 768px) {
    .content {
        width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .content {
        width: 95%;
    }
}