.content {
  margin: 20px;
  width: 70%;
  margin: auto;
  align-items: center;
}

.card {
  margin-top: 15px;
}

.prodTable {
  margin: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .content {

    width: 90%;

  }
}

@media screen and (max-width: 576px) {
  .content {

    width: 95%;

  }

  .mat-table {
    vertical-align: middle;
  }

  .mat-table .mat-row {
    /* border-bottom: 5px solid #ddd; */
    display: block;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* align-items: center; */
    /* padding: 8px; */
  }

  .mat-table .mat-cell {
    /* border-bottom: 1px solid #ddd; */
    display: block;
    /* align-items: center; */
    /* font-size: 1em;
    font-weight: bold;
    min-width: 50%;
    padding: 8px; */

    .mat-cell:before {
      /* content: attr(data-label); */
      text-transform: uppercase;
      margin-right: 8px;
    }
  }
}