<!-- 
<div class="tile" *ngFor="let product of popularProducts">
<ngx-slick-carousel class="carousel slick-carousel" [config]="carouselConfig">
    <div ngxSlickItem *ngFor="let image of product.productImages">
      <img [src]="image" alt="Product Image">
      <div><p>{{product.name}}</p></div>
      <div><p>{{product.color}}</p></div>
      <div><p>{{product.price}}</p></div>
      <div><p>{{product.description}}</p></div>
    </div>
</ngx-slick-carousel>
</div> -->


<!-- <div class="chart-container">
  <canvas  id="MyChart" >{{ chart }}</canvas>
</div> -->



