.productGridImg {
    height: 300px;
    width: 250px;
    border: 2px solid grey;
}
.div1{
    display: flex;
    justify-content: space-between;
}
.tile{
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}