<div class="content">
    <div class="grid">
        <h2>Products You Search</h2>
        <mat-grid-list cols="1" gutterSize="16px" [rowHeight]="350">

            <mat-grid-tile class="tile" >
                <div class="div1">
                    <div>
                        <!-- <img class="productGridImg" src="{{product.imageURL}}"> -->
                        <img class="productGridImg" src="./assets/blank_product.png"
                            alt="Product Image">
                    </div>
                    <div class="productDetails">
                        <div>
                            <h4>Name: </h4>
                        </div>
                        <div>
                            <h4>Price:</h4>
                        </div>
                        <div>
                            <h4>Color:</h4>
                        </div>
                    </div>
                    <div class="productFooter">
                        <a routerLink="">View Details</a>
                        <a routerLink="">Add To Cart</a>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="tile" >
                <div  class="div1">
                    <div>
                        <!-- <img class="productGridImg" src="{{product.imageURL}}"> -->
                        <img class="productGridImg" src="./assets/blank_product.png"
                            alt="Product Image">
                    </div>
                    <div class="productDetails">
                        <div>
                            <h4>Name: </h4>
                        </div>
                        <div>
                            <h4>Price:</h4>
                        </div>
                        <div>
                            <h4>Color:</h4>
                        </div>
                    </div>
                    <div class="productFooter">
                        <a routerLink="">View Details</a>
                        <a routerLink="">Add To Cart</a>
                    </div>
                </div>
            </mat-grid-tile>
        
        </mat-grid-list>
        
       
    </div>
</div>
