
.div1{
    float: left;
    display: flex;
    justify-content: space-around;
  
}
.tile{
    /* border-top: 2px solid grey; */
    /* border-bottom: 2px solid grey; */
    /* border-right: 2px solid grey;  */
}

.content{
    margin: 20px;
}

.grid{
    padding: 20px;
}
.imgDiv{
    margin-right: 20px;
}
.productFooter a{
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
}
.carousel{
    height: 250px;
    width: 300px;
}
.carousell {
    float: left;
    margin-right: 20px;
}
.data {
    float: right;
}

.sm-device
{
    display: none;
}

@media screen and (max-width:576px){
    .m-device{
        display: none;
    }
    .sm-device{
        display: block;
    }
    .tile{
        display: block;
        border-bottom: 1px solid gray;

    }
    .carousell{
        display: block;
    }
    .data{
        display: block;
    }
    .data {
        float: none;
    }
    .carousell {
        float: none;
        margin-right: 20px;
    }
    .carousel{
        height: auto;
        width: 300px;
    }
    
}